<% if session[:dollars] %>
  <p>You have <%= session[:dollars]  %> dollars</p>
<% end %>

<form method="post" action="/">
  <p>
    <label>Bet:
      <input name="bet" type="text" />
    </label>
  </p>
  <p>
    <button name="guess" value="1">Guess 1</button>
    <button name="guess" value="2">Guess 2</button>
    <button name="guess" value="3">Guess 3</button>
  </p>
</form>